body {
  background-image: url(CV_-castell_de_guadalest-_1920x1080.jpg);
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin: 0;
}
.heading {
  z-index: 1;
  top: 0;
  position: fixed;
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin: 0;
  background-color: rgb(87, 113, 92);
  width: 100%;
  height: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: antiquewhite;
  font-size: 25px;
}
.img1 {
  top: 100px;
  margin: 50px;
  padding: 0%;
  right: 100px;
  position: absolute;
  width: 300px;
  height: 560px;
}
.img2 {
  top: 150px;
  padding: 50px;
  right: 500px;
  position: absolute;
  height: 540px;
  width: 300px;
}
.a1 {
  border: 5px rgba(174, 255, 127, 0.393) groove;
  font-size: 35px;
  color: rgb(245, 221, 189);
  border-radius: 10px;
  background-color: rgba(174, 255, 127, 0.393);
  height: 20px;
  width: 40px;
  padding: 0;
  margin: 25px;
  text-decoration: none;
}
#section1 {
  top: 65px;
  color: antiquewhite;
  font-size: 30px;
  overflow-y: auto;
  z-index: 200px;
  align-items: flex-start;
  position: fixed;
  overflow: scroll;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 300px;
  background-color: rgb(151, 150, 144);
}
.h21 {
  margin-left: 20px;
}
